# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cython debug symbols
cython_debug/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
ENV/
env/
.venv/
.ENV/
.env/
env.bak/
venv.bak/

# PyInstaller
*.manifest
*.spec

# Pyre type checker
.pyre/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytype
.pytype/

# Coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Pycharm
.idea/

# VSCode
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Local dotenv
.env
.env.*

# SQLite database
*.sqlite3

# Logs
*.log

# Test results
test-output/

# Other
*.bak
*.swp



.env
config.py
authorized_users.json
input_prescriptions.json
locations.json
previous_data.json
*.log
/prenotazioni_pdf/
/reports_pdf/
merged_file.txt
merge_files_code_ALL.bat
prenotazioni_pdf
reports_pdf
reports_monitoring.json